Hello <%= @user_name %>,<br><br>
You have recently updated your app. <b><%= @message %></b>.<br>
Please Apply your Application Again from <a href="http://<%= @dotconf_assist_domain %>/splunk_users/manage_deploy_requests?env=<%= @env%>">HERE</a>, so that new changes can be reflected to the SPLUNK Cluster.<br><br>
P.S: Do Remember, If You Do Not Apply The Changes, Your Old Configuration Will Continue To RUN on Splunk Cluster.<br>
You can access dotconf-assist from <a href="http://<%= @dotconf_assist_domain%>/">HERE</a>.<br>
Also, you can reply to this email directly to contact admin or provide feedback, if you face any issues.<br>
<br>
Regards,<br>
Splunk as a Service Support Team.
