Hello Admin,<br>
<p>User <b><%= @user_name_email %></b> has requested to Deploy An App with following details</p><br>
<b>Env: </b><%= @env_email  %><br><br>
<b>App Name: </b><%= @app_name_email %><br><br>
<b>Input Log(s): </b><br>
      <ul>
      <% @input_logs.each do |input| %>
        <li><a href="http://<%= @dotconf_assist_domain %>/admin/report_inputs/<%= input %>"><%= @dotconf_assist_domain %>/admin/report_inputs/<%= input %></a></li>
      <% end %><br><br>
      </ul>
<b>Server Class(es):</b><br>
      <ul>
      <% list_flag = 2 %>
      <% regex_flag = 1 %>
      <% regex_count = 0 %>
      <% @server_forwarder_email.each do |server_class| %>
        <% if server_class == "starts" %>
          <% list_flag = 1 %>
        <% elsif server_class == "ends" %>
          <% list_flag = 0 %>
        <% end %>
        <% if list_flag == 2 %>
          <% if regex_flag == 1 %>
            <li><%= server_class %>   ( <%= @white_list_regex[regex_count]%> )</li>
            <% regex_count += 1 %>
            <% regex_flag = 0 %>
          <% else %>
            <li><%= server_class %></li>
          <% end %>
        <% end %>
        <% if list_flag == 1 %>
          <ul>
          <% list_flag = 2 %>
        <% elsif list_flag == 0 %>
          </ul>
          <% regex_flag = 1 %>
          <% list_flag = 2 %>
        <% end %>
      <% end %><br><br>
      </ul><br>
You can take Action for the Request from <a href="http://<%= @dotconf_assist_domain %>/admin/report_apps/<%= @app_id %>">HERE</a>.<br>
Please Respond in timely manner.<br><br>
Regards,<br>
Splunk Support Team.
