Hello <%= @user_name %>,<br>
<br>
Our Admins have Suggested you to modify the Forwarder you have entered for the <%= @env %> Environment.<br>
Old Name = <%= @old_name %><br>
New Suggested Name = <%= @new_name %><br>
<br>
If you find the previous one correct, do keep the Forwarder name same.<br>
You can access our dotconf-assist from <a href="http://<%= @dotconf_assist_domain%>/">HERE</a>.<br>
Also, you can reply to this email directly to contact admin or provide feedback, if you face any issues.<br>
<br>
Regards,<br>
Splunk as a Service Support Team.
