Hello <%= @user_name %>,<br>
<br>
You have requested an account for dotconf-assist.<br>
Details are as follows,<br>
User Name: <%= @user_name %>,<br>
Group Name: <%= @group_name %>,<br>
App Team Name: <%= @app_team_name %>,<br>
Service ID: <%= @serviceid %>,<br>
Email for Emergency: <%= @user_email_for_emergency %>,<br>
Email: <%= @user_email %><br>
<br>
Thank you for Requesting account, our Admin will approve your account soon.<br>
<br>
You can access dotconf-assist from <a href="http://<%= @dotconf_assist_domain%>/">HERE</a>.<br>
Also, you can reply to this email directly to contact admin or provide feedback, if you face any issues.<br>
<br>
Regards,<br>
Splunk as a Service Support Team.
