Hello Admin,<br>
<br>
A new Account is requested for dotconf-assist. Details are:<br>
User Name: <%= @user.splunk_user_name %>,<br>
Group Name: <%= @user.group_name %>,<br>
App Team Name: <%= @user.app_team_name %>,<br>
Service ID: <%= @user.serviceid %>,<br>
Email for Emergency: <%= @user.email_for_emergency %>,<br>
Email: <%= @user.email %><br>
<br>
You can Access the Account Information from <a href="http://<%= @dotconf_assist_domain%>/admin/display_request_account/<%= @user.id %>">HERE</a><br>
Please Take appropriate action as required, in timely manner.<br>
<br>
Regards,<br>
Splunk as a Service Support Team.
