<script>
	var resultcount=0;
	var text1=0;
	var targetDisplayId="user-name";
	var targetDisplayType="username";
	var targetActionId="resetpassword";
	function validateuser()
	{
		 ajaxCall("reset_password_validate_user");
	}
	function validates(result,text)
	{
		 if (result==1)
		 {
			 if(text==1)
			 {
			 }
			 else
			 {
				 text=1;
				 resultcount+=1;
			 }
			 if(resultcount==1)
			 {
				 validateuser();
				 $('#resetpassword').attr("disabled", false);
				 if(resultcount==0)
				 {
					 $('#resetpassword').attr("disabled", true);
				 }
			 }
		 }
		 else
		 {
			 if(text==1)
			 {
				 text=0;
				 if(resultcount==1)
				 {
					 $('#resetpassword').attr("disabled", true);
				 }
				 resultcount-=1;
			 }
		 }
		 return(text);
	}
	$(document).ready( function() {
			$('#user-name').popover({trigger: 'focus'});
			$('#email').popover({trigger: 'focus'});
			$("#resetpassword").attr("disabled",true);
			displayMessages('username','user-name','data-content',-1);
			$('#user-name').focus();
			$( "#user-name" ).keyup(function() {
					 if (($(this).val().length > 0) && ($(this).val().substr(0,5) != 'user_') || ($(this).val() == '')) {
								 $(this).val('user_');
					 }
					 $('#user-name').popover({
								trigger: 'manual',
								placement: 'right',
					 });
					 if(($( "#user-name" ).val()).length>7)
					 {
							$("#resetpassword").attr("disabled",false);
					 }
					 result=validate($('#user-name').val(),'string','username');
					 text1=validates(result,text1);
					 displayMessages('username','user-name','data-content',result);
					 $('#user-name').popover("show");
			});
	});
</script>

<% if flash[:notice] %>
	<div class="alert alert-info" id="notice-forgot-password"><%= flash[:notice] %></div>
<% else %>
	<div class="alert alert-info" id="notice-forgot-password" style="display:none"></div>
<% end %>

<div class="alert alert-danger" role="alert">Provide Your Splunk User Name and Email Address Linked with your ACCOUNT PROFILE.</div>

<%= form_tag '/register/resetPassword', :class => 'center-form form-horizontal', :role => 'form' do %>
		<label class="regi-label control-label" >Splunk User Name</label>
	<div class="form-group">
		<%= text_field_tag 'splunk_user_name','' ,id: 'user-name', placeholder: 'User Name', data: { toggle: 'popover', trigger: 'hover', content: '' }, :autocomplete => :off, :style => '', :value => "user_", :onfocus => "this.value = this.value;" %>
	</div>
	<label class="regi-label control-label" >Email Address</label>
	<div class="form-group">
		<%= text_field_tag 'email','' ,id: 'email', placeholder: 'Email Address', data: { toggle: 'popover', trigger: 'hover', content: '' }, :autocomplete => :off, :style => '' %>
	</div>
	<div class="findpwd-button">
		<button type="button" onclick ="location.href='/'" class ="btn btn-primary" style="">Cancel</button>
		<%= submit_tag 'Reset My Password',:class=>"btn btn-primary", :id =>"resetpassword"%>
	</div>

<% end %>
